.short-form-modal-content {
    font-family: Arial, sans-serif;
    padding: 15px;
}

.short-form-modal-button {
    display: block;
    margin: auto;
}

.short-form-modal-input {
    width: 100%;
}

.publish-modal-content {
    padding: 15px;
  }
  
  .publish-modal-button {
    display: block;
    margin: auto;
  }
  
  .publish-modal-input {
    width: 100%;
  }
  
